<Configuration>
    <Section Name="Service">
    <Services>
    <Service Name="Business">http://kanta.pe/Kruma_Service/Business.svc</Service>
    <Service Name="Exception">http://kanta.pe/Service/Exception.svc</Service>
    <Service Name="Log">http://kanta.pe/Service/Log.svc</Service>
    <Service Name="Notification">http://kanta.pe/Service/Notification.svc</Service>
    <Service Name="Security">http://kanta.pe/Service/Usuario.svc</Service>
    <Service Name="Usuario">http://kanta.pe/Service/Usuario.svc</Service>
    <Service Name="LocalCancion">http://kanta.pe/Service/LocalCancion.svc</Service>
    <Service Name="Apertura">http://kanta.pe/Service/Apertura.svc</Service>
    <Service Name="SolicitudCancion">http://kanta.pe/Service/SolicitudCancion.svc</Service>
    <Service Name="Genero">http://kanta.pe/Service/Genero.svc</Service>
    <Service Name="Oferta">http://kanta.pe/Service/Oferta.svc</Service>
    <Service Name="Evento">http://kanta.pe/Service/Evento.svc</Service>
    <Service Name="Carta">http://kanta.pe/Service/Producto.svc</Service>
    <Service Name="Idioma">http://kanta.pe/Service/Idioma.svc</Service>
    <Service Name="ProductoTipo">http://kanta.pe/Service/ProductoTipo.svc</Service>
    <Service Name="AperturaCancionSolicitud">http://kanta.pe/Service/AperturaCancionSolicitud.svc</Service>
    <Service Name="Ubicacion">http://kanta.pe/Service/Ubicacion.svc</Service>
    <Service Name="AperturaUsuario">http://kanta.pe/Service/AperturaUsuario.svc</Service>
    </Services>
    </Section>
    <Section Name="Connection">
    <Connections>
    <ConnectionString Name="Note">bdnote.sqlite</ConnectionString>
    </Connections>
    </Section>
    <Section Name="Application">
    <AppSettings>
    <Key Name="NombreSistema">KANTA</Key>
    <Key Name="MensajeError">Ocurrió un error en el proceso, inténtelo nuevamente por favor</Key>
    <Key Name="ExceptionPolicyName">Kruma.Core.Data</Key>
    </AppSettings>
    </Section>
    </Configuration>
