<Configuration>
    <Section Name="Service">
    <Services>
    <Service Name="Business">http://kruma.net/KantaKrumaServiceDE/Business.svc</Service>
    <Service Name="Exception">http://kruma.net/KantaServiceDE/Exception.svc</Service>
    <Service Name="Log">http://kruma.net/KantaServiceDE/Log.svc</Service>
    <Service Name="Notification">http://kruma.net/KantaServiceDE/Notification.svc</Service>
    <Service Name="Security">http://kruma.net/KantaServiceDE/Usuario.svc</Service>
    <Service Name="Usuario">http://kruma.net/KantaServiceDE/Usuario.svc</Service>
    <Service Name="Cancion">http://kruma.net/KantaServiceDE/Cancion.svc</Service>
    <Service Name="LocalCancion">http://kruma.net/KantaServiceDE/LocalCancion.svc</Service>
    <Service Name="Local">http://kruma.net/KantaServiceDE/Local.svc</Service>
    <Service Name="Apertura">http://kruma.net/KantaServiceDE/Apertura.svc</Service>
    <Service Name="SolicitudCancion">http://kruma.net/KantaServiceDE/SolicitudCancion.svc</Service>
    <Service Name="Genero">http://kruma.net/KantaServiceDE/Genero.svc</Service>
    <Service Name="Oferta">http://kruma.net/KantaServiceDE/Oferta.svc</Service>
    <Service Name="Evento">http://kruma.net/KantaServiceDE/Evento.svc</Service>
    <Service Name="Carta">http://kruma.net/KantaServiceDE/Producto.svc</Service>
    <Service Name="Idioma">http://kruma.net/KantaServiceDE/Idioma.svc</Service>
    <Service Name="ProductoTipo">http://kruma.net/KantaServiceDE/ProductoTipo.svc</Service>
    <Service Name="AperturaCancionSolicitud">http://kruma.net/KantaServiceDE/AperturaCancionSolicitud.svc</Service>
    <Service Name="Ubicacion">http://kruma.net/KantaServiceDE/Ubicacion.svc</Service>
    <Service Name="AperturaUsuario">http://kruma.net/KantaServiceDE/AperturaUsuario.svc</Service>
    </Services>
    </Section>
    <Section Name="Connection">
    <Connections>
    <ConnectionString Name="Note">bdnote.sqlite</ConnectionString>
    </Connections>
    </Section>
    <Section Name="Application">
    <AppSettings>
    <Key Name="NombreSistema">KANTA</Key>
    <Key Name="MensajeError">Ocurrió un error en el proceso, inténtelo nuevamente por favor</Key>
    <Key Name="ExceptionPolicyName">Kruma.Core.Data</Key>
    </AppSettings>
    </Section>
    </Configuration>
